<!DOCTYPE html>
<html>
  <head>
    <title>Secret</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
    <title>Inscription</title>
  </head>

  <body>
    <div class="container">
      
      <center>
        <h1>
        Bienvenue !
        </h1>

        <p>
        <a href="/login">Pour sur connecter c'est par ici</a>
        </p>
      </center>
    </div>

  </body>

</html>